/* SELETORES:

    SELETORE DE TAG -> DIV, SPAN, P
    SELETOR DE CLASSE -> .nomeClass
    SELETOR DE ID -> #nomeId
    SELETORES DE EVENTOS 9pseudo seletores-> seletorPrincipal:hover  (os ":" refere-se ao eventos)
    SELETORES DE ATIBUTOS -> div[rel] - div[rel="1"] - rel="100" - .bloco[rel]
*/

/* UNIDADES DE MEDIDA:

    -PIXEL -> px.
    -PORCENTAGEM -> %.
    -PROPORCIONAL DE CONTAINER -> em.
    -PROPORCIONAL DE TELA -> rem.
    -REFERENCIAL DE VIEWPORT -> vw ou vh.
    VW -> VIEWPORT WIDTH
    VH -> VIEWPORT HEIGHT

*/
*{
    margin: 0;
    padding: 0;
}

.bloco {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px 10px 10px 10px;
    /*       T    R     B    L */
}

div h1 {
    color: yellow;
}

